#block-list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 140px;
    padding: 9px;
    padding-left: 4rem;
    padding-right: 4rem;
}

.block {
    display: flex;
    flex-flow: row wrap;
    width: 140px;
    align-content: center;
    justify-content: center;
}

.block-container {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    align-content: center;
    justify-content: center;
}

.sub-block-container {
    display: flex;
    flex-flow: row nowrap;
}

.block-child {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 1px;
}